We are posting from view: new to books routes
<h2>New Book</h2>
<!-- enctype multipart/form-data is not needed since were using filepond -->
<form action="/books" method="POST" >
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button type ="submit">Create</button>
</form>